<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="dataSource" class="com.kyloth.serleenacloud.persistence.jdbc.JDBCDataSource">
    <constructor-arg ref="JDBCdataSource" />
  </bean>

  <bean name="JDBCdataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://starkenterprises.net:3306/serleenabackend" />
    <property name="username" value="serleenacloud" />
    <property name="password" value="?58,@24=0ni5^Sv" />
  </bean>

</beans>
