<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="dataSource" class="com.kyloth.serleenacloud.persistence.jdbc.JDBCDataSource">
    <constructor-arg ref="JDBCdataSource" />
  </bean>

  <bean name="JDBCdataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://127.0.0.1:3306/serleenabackend" />
    <property name="username" value="serleenacloud" />
    <property name="password" value="?58,@24=0ni5^Sv" />
  </bean>

  <bean id="host" class="java.lang.String">
    <constructor-arg value="smtp.gmail.com" />
  </bean>

  <bean id="username" class="java.lang.String">
    <constructor-arg value="" />
  </bean>

  <bean id="password" class="java.lang.String">
    <constructor-arg value="" />
  </bean>

  <bean id="port" class="java.lang.String">
    <constructor-arg value="587" />
  </bean>

  <bean id="backgroundColor" class="java.lang.String">
    <constructor-arg value="black" />
  </bean>

  <bean id="lakeColor" class="java.lang.String">
    <constructor-arg value="cyan" />
  </bean>

  <bean id="pathColor" class="java.lang.String">
    <constructor-arg value="gray" />
  </bean>

  <bean id="riverColor" class="java.lang.String">
    <constructor-arg value="blue" />
  </bean>

  <bean id="trackLineColor" class="java.lang.String">
    <constructor-arg value="white" />
  </bean>

  <bean id="checkPointColor" class="java.lang.String">
    <constructor-arg value="yellow" />
  </bean>

  <bean id="elevationColor" class="java.lang.String">
    <constructor-arg value="green" />
  </bean>

  <bean id="quadrantHeight" class="java.lang.Integer">
    <constructor-arg value="240" />
  </bean>

  <bean id="quadrantWidth" class="java.lang.Integer">
    <constructor-arg value="240" />
  </bean>

  <bean id="factor" class="java.lang.Integer">
    <constructor-arg value="10000000" />
  </bean>

</beans>
